/*Body setup*/
body {
  background-color: #DDDDDD;
  font-family: monospace, sans-serif;
}

a {
  color: #2b7ccc;
  text-decoration: none;
}


/*-------------------------------------------------------*/
/*Image transformation*/
.image {
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 5%;
  border-color: black;
  border-width: -5px;
  border-style: solid;
}

/*Home page setup*/
.center-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  
}
.programming {
  width: 400px;
  padding: 5%;
}
.tools {
  width: 400px;
  padding: 5%;
}
.collaboration {
  width: 400px;
  padding: 5%;
}

/*Animation mouse hover image (home page)*/
.programming:hover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.tools:hover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.collaboration:hover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

/*Keyframes for home page annimation*/
@keyframes zoom {
  100% {
    transform: scale(1.15);
  }
}


/*-------------------------------------------------------*/
/*Profile page setup*/
.description {
  display: grid;
  justify-content: space-evenly;  
}

.image-profile {
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 5%;
  border-color: white;
  border-width: -5px;
  border-style: solid;
}


/*Programmation content*/
.prog-history {
  display: grid;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
  width: fit-content;
}
#image-selfie{
  grid-row:1;
  grid-column: 1;
}
#text-prog{
  grid-row: 1;
  grid-column: 2;
  padding-left: 5%;
  width: 700px;
  text-align: justify;
}
/*Automobile content*/
.automobile-racing {
  display: grid;
  justify-content: center;
  padding-bottom: 8%;
  width: fit-content;
}
.image-interest {
  padding-top: 5%;
}
#image-racing{
  grid-row:1;
  grid-column: 1;
}
#text-racing{
  grid-row: 1;
  grid-column: 2;
  padding-left: 5%;
  width: 700px;
  text-align: justify;
}

/*Animation mouse hover image (profile page)*/
.automobile-racing:hover {
  animation-name: zoom2;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.prog-history:hover {
  animation-name: zoom2;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

/*Keyframes for profile page annimation*/
@keyframes zoom2 {
  100% {
    transform: scale(1.20);
  }
}


#info {
  display: flex;
  flex-flow: row;
  column-gap: 15px;
}

#info a:link {
  color: grey;
  text-decoration: none;
}
#info a:visited {
color: gray;
text-decoration: none;
}
#info a:hover {
color: #2b7ccc;
text-decoration: none;
}
#info a:active {
color: #2b7ccc;
text-decoration: none;
}



#advanced-details {
  display: flex;
  gap: 20px;
  flex-flow: row;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}
#advanced-details p {
  font-size: 125%;
}

.advanced-details-tile {
  width: fit-content;
  background-color: #DDDDDD;
  border-radius: 10px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}
.advanced-details-tile:hover {
  animation-name: zoom3;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
@keyframes zoom3 {
  100% {
    transform: scale(1.05);
  }
}

.info-title {
  background-color: lightskyblue;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
}

.info-answer {
  margin: 0px 15px 0px 15px;
  padding-bottom: 10px;
  text-align: center;
}

.name {
  flex-grow: 1;
}
.age {
  flex-grow: 1;
}
.nationality {
  flex-grow: 1;
}
.languages {
  flex-grow: 2;
}
.tech {
  flex-grow: 3;
}
.prog-lang {
  flex-grow: 1;
}
.tech p {
  flex-grow: 3;
  padding-bottom: 10px;
  border-bottom-width: 3px;
  border-bottom-color: lightskyblue;
  border-bottom-style: solid;
}
.prog-lang p {
  flex-grow: 1;
  padding-bottom: 10px;
  border-bottom-width: 3px;
  border-bottom-color: lightskyblue;
  border-bottom-style: solid;
}





/*-------------------------------------------------------*/
/*FAQ page setup*/
.center-faq {
  width: 60%;
  margin: auto;
  padding: 20px;
}
.center-faq p {
  font-size: 125%;
}
details {
  padding: 15px;
}

summary {
  font-size: 155%;
  font-weight: 700;
}
summary:hover {
  cursor: pointer;
}








/*-------------------------------------------------------*/
/*Dashboard page setup*/
.center-dashboard {
  padding-top: 50px;
}
.study-monitor {
  align-items: center;
  width: fit-content;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#study-monitor-title {
  background-color: #C4C4C4;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
}

table {
  margin-top: -10px;
  padding: 0px 20px 0px 20px;
}
#study-monitor-table tr{
  font-size: 150%;
}

#bottom-left-corner{
  border-bottom-left-radius: 10px;
}
#bottom-right-corner {
  border-bottom-right-radius: 10px;
}

th, td {
  padding: 5px 25px 5px 25px;
  border: 1px solid black;
  border-collapse: collapse;
}

#legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 200px;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-left: -150px;
}
#legend div {
  width: 50px;
  height: 25px;
  display: grid;
  grid-template-columns: 50px 200px;
  
}
#legend p {
  margin-top: 6px;
  padding-left: 15px;
}
.legend-color {
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.done {
  background-color: lightgreen;
}
.doing {
  background-color: lightblue;
}
.todo {
  background-color: #DDDDDD;
}
.to-be-retaken {
  background-color: red;
}

.second-part {
  padding-top: 50px;
  padding-bottom: 20px;
  column-gap: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.study-guide {
  width: fit-content;
  background-color: whitesmoke;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  
}
#study-guide-title {
  background-color: #C4C4C4;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
}
.study-guide-links {
  display: grid;
}
.study-guide-links a {
  padding-bottom: 10px;
  margin: 0px 15px 0px 10px;
}

.nbsa {
  width: fit-content;
  background-color: whitesmoke;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  
}
#nbsa-title {
  background-color: #C4C4C4;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
}
.nbsa-info {
  margin: 0px 15px 0px 15px;
  padding-bottom: 15px;
}
#ec-count:after {
  content: "0";
  color: red;
}

.progress-bar {
  background-color: white;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: auto;
  height: 20px;
}
#nbsa-progress {
  background-color: dodgerblue;
  width: 0%;
  height: 20px;
  border-radius: 10px;
}
#nbsa-boundary {
  background-color: red;
  border-radius: 10px;
  height: 20px;
  width: 2px;
  position: relative;
  top: -20px;
  left: 75%;
}

#year-progress {
  background-color: dodgerblue;
  width: 10%;
  height: 20px;
  border-radius: 10px;
}





/*-------------------------------------------------------*/
nav {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  position: relative;
  z-index: 1;
}
.menu {
    list-style-type: none;
    font-size: 175%;
    color: black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 10px 0px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.menu-content {
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
}
.menu-link:link {
    color: black;
    text-decoration: none;
}
.menu-link:visited {
  color: black;
  text-decoration: none;
}
.menu-link:hover {
  color: grey;
  text-decoration: none;
}
.menu-link:active {
  color: black;
  text-decoration: none;
}

#dashboard-icon img{
  width: 45px;
}
#dashboard-icon {
  text-align: right;
  padding: 20px;
}


/*-------------------------------------------------------*/
footer {
  display: grid;
  grid-row: auto auto auto;
  justify-content: space-evenly;
}
#footer-left {
  grid-column: 1;
}
#footer-center {
  grid-column: 2;
}
#footer-right {
  grid-column: 3;
}