/*Body setup*/
body {
  background-color: #DDDDDD;
  font-family: monospace, sans-serif;
}

/*-------------------------------------------------------*/
/*Image transformation*/
.image {
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 5%;
  border-color: black;
  border-width: -5px;
  border-style: solid;
}

/*Home page setup*/
.center-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.programming {
  width: 400px;
  padding: 5%;
}
.tools {
  width: 400px;
  padding: 5%;
}
.collaboration {
  width: 400px;
  padding: 5%;
}

/*Animation mouse hover image (home page)*/
.programming:hover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.tools:hover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.collaboration:hover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

/*Keyframes for home page annimation*/
@keyframes zoom {
  100% {
    transform: scale(1.15);
  }
}


/*-------------------------------------------------------*/
/*Profile page setup*/
.center-profile {
  display: grid;
  justify-content: space-evenly;
}

.image-profile {
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 5%;
  border-color: white;
  border-width: -5px;
  border-style: solid;
}


/*Programmation content*/
.prog-history {
  display: grid;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
  width: fit-content;
}
#image-selfie{
  grid-row:1;
  grid-column: 1;
}
#text-prog{
  grid-row: 1;
  grid-column: 2;
  padding-left: 5%;
  width: 700px;
  text-align: justify;
}
/*Automobile content*/
.automobile-racing {
  display: grid;
  justify-content: center;
  padding-bottom: 8%;
  width: fit-content;
}
.image-interest {
  padding-top: 5%;
}
#image-racing{
  grid-row:1;
  grid-column: 1;
}
#text-racing{
  grid-row: 1;
  grid-column: 2;
  padding-left: 5%;
  width: 700px;
  text-align: justify;
}

/*Animation mouse hover image (profile page)*/
.automobile-racing:hover {
  animation-name: zoom2;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.prog-history:hover {
  animation-name: zoom2;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

/*Keyframes for profile page annimation*/
@keyframes zoom2 {
  100% {
    transform: scale(1.20);
  }
}


.center-faq h1 {
  padding-left: 10%;
  padding-bottom: 25px;
}

#faq-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0% 0% 10% 0%;
  row-gap: 20%;
  column-gap: 0%;
  justify-items: center;
}

.block-faq {
  display: flex;
  align-items: center;
  justify-content: center;
}

#faq-menu a:link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
#faq-menu a:visited {
  color: black;
  text-decoration: none;
}
#faq-menu a:hover {
  color: black;
  text-decoration: none;
}
#faq-menu a:active {
  color: black;
  text-decoration: none;
}

.tile {
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 5%;
  border-color: black;
  border-width: -5px;
  border-style: solid;
  color: rgba(255, 255, 255, 0);;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tile:hover {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

#tile-1 {
  background-image: url("../img/printer.jpg");
}
#tile-2 {
  background-image: url("../img/scan.jpg");
}
#tile-3 {
  background-image: url("../img/health.jpg");
}
#tile-4 {
  background-image: url("../img/book-space.jpg");
}
#tile-5 {
  background-image: url("../img/parking.jpg");
}
#tile-6 {
  background-image: url("../img/bank-card.jpg");
}

#tile-1:hover {
  animation-name: tile-anim-1;
  
}
#tile-2:hover {
  animation-name: tile-anim-2;
}
#tile-3:hover {
  animation-name: tile-anim-3;
}
#tile-4:hover {
  animation-name: tile-anim-4;
}
#tile-5:hover {
  animation-name: tile-anim-5;
}
#tile-6:hover {
  animation-name: tile-anim-6;
}

@keyframes tile-anim-1 {
  100% {
      color: black;
      font-size: 275%;
      background-image: url("../img/printer-blur.jpg");
      transform: scale(1.15);
  }
}
@keyframes tile-anim-2 {
  100% {
      color: black;
      font-size: 275%;
      background-image: url("../img/scan-blur.jpg");
      transform: scale(1.15);
  }
}
@keyframes tile-anim-3 {
  100% {
      color: black;
      font-size: 275%;
      background-image: url("../img/health-blur.jpg");
      transform: scale(1.15);
  }
}
@keyframes tile-anim-4 {
  100% {
      color: black;
      font-size: 275%;
      background-image: url("../img/book-space-blur.jpg");
      transform: scale(1.15);
  }
}
@keyframes tile-anim-5 {
  100% {
      color: black;
      font-size: 275%;
      background-image: url("../img/parking-blur.jpg");
      transform: scale(1.15);
  }
}
@keyframes tile-anim-6 {
  100% {
      color: black;
      font-size: 275%;
      background-image: url("../img/bank-card-blur.jpg");
      transform: scale(1.15);
  }
}




/*-------------------------------------------------------*/
nav {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
}
.menu {
    list-style-type: none;
    font-size: 175%;
    color: black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 10px 0px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.menu-content {
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
}
.menu-link:link {
    color: black;
    text-decoration: none;
}
.menu-link:visited {
  color: black;
  text-decoration: none;
}
.menu-link:hover {
  color: grey;
  text-decoration: none;
}
.menu-link:active {
  color: black;
  text-decoration: none;
}

#dashboard-icon img{
  width: 45px;
}
#dashboard-icon {
  text-align: right;
  padding: 20px;
}


/*-------------------------------------------------------*/
footer {
  display: grid;
  grid-row: auto auto auto;
  justify-content: space-evenly;
}
#footer-left {
  grid-column: 1;
}
#footer-center {
  grid-column: 2;
}
#footer-right {
  grid-column: 3;
}