body {
  background-color: #DDDDDD;
  font-family: monospace, sans-serif;
}

.image {
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 5%;
  border-color: black;
  border-width: -5px;
  border-style: solid;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  
}

.programming {
  width: 400px;
  padding: 5%;
}

.tools {
  width: 400px;
  padding: 5%;
}

.collaboration {
  width: 400px;
  padding: 5%;
}

.programming:hover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.tools:hover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.collaboration:hover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  100% {
    padding-top: 3%;
    transform: scale(1.15);
  }
}


.menu {
    list-style-type: none;
    
    font-size: 175%;
    color: black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 10px 0px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    
}

.menu-content {
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
}

.menu-link:link {
    color: black;
    text-decoration: none;
}
  
.menu-link:visited {
  color: black;
  text-decoration: none;
}
  
.menu-link:hover {
  color: grey;
  text-decoration: none;
}
  
.menu-link:active {
  color: black;
  text-decoration: none;
}
  